.footer-container {
    height: 600px;
    width:100%;
    margin:10px;
    background-color: rgb(187, 217, 255);
    position: absolute;
    display: block;
    border-top: 1px soild rgb(68, 65, 65);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(238, 238, 238);

    .footer-nav {
        display: flex;
        flex-direction: row;
        height: 80px;
        width: 100%;
        padding: 2px 10px;


        .list-inline-footer-nav {
            display:flex;
            flex-direction: columns;
           

            .noindex {
                justify-content: center;
                padding: 10px 150px;
            }
        }


    }

    .footer-directory {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 50px;


        .row {
            display:flex;
            flex-direction: column;
            padding: 10px 30px;
            margin: 10px 10px;
        }
    }




}

ul {
    list-style-type: none;  //remove bullet point from list form
}


.FooterEx {
    bottom: 0;
}